server:
  port: 8085

spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://REPLACE_WITH_RDS_ENDPOINT:3306/revtickets?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: admin
    password: Root@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

razorpay:
  key:
    id: rzp_test_Rp4SH1QwMdqWrh
    secret: ALcNgmEp3RvBco29Y6Og0dK4
