server:
  port: 8084

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:mysql://REPLACE_WITH_RDS_ENDPOINT:3306/revtickets?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: admin
    password: Root@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
