server:
  port: 8082

spring:
  application:
    name: movie-service
  data:
    mongodb:
      host: mongodb
      port: 27017
      database: revtickets

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
