server:
  port: 8082

spring:
  application:
    name: movie-service
  data:
    mongodb:
      uri: mongodb://admin:Root@123@REPLACE_WITH_DOCDB_ENDPOINT:27017/revtickets?tls=true&tlsCAFile=/home/ubuntu/global-bundle.pem&retryWrites=false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
